@{
    ViewBag.Title = "Xác thực email";
}

<div class="row">
    <div class="col-md-12">
        <h1>@ViewBag.Title</h1>
        <p class="text-success">
            Cảm ơn bạn đã xác nhận email của bạn. Xin vui lòng nhấn @Html.ActionLink("vào đây", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) để đăng nhập
        </p>
    </div>
</div>
