@{
    ViewBag.Title = "Xác thực quên mật mẩu";
}

<div class="row">
    <div class="col-md-12">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Vui lòng kiểm tra email của bạn để đặt lại mật khẩu.
            </p>
        </div>
    </div>
</div>
	
