@{
    ViewBag.Title = "Xác nhận thiết lập lại mật khẩu";
}

<div class="row">
    <div class="col-md-12">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Mật khẩu của bạn đã được thiết lập lại. Xin vui lòng nhấp @Html.ActionLink("vào đây", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) để đăng nhập.
            </p>
        </div>
    </div>
</div>
